{{<partials-page}}
  {{$page-content}}
    <p><a href="https://www.gov.uk/check-uk-visa">Check if you add an ETA.</a> This service will tell you what you need to come to the UK.</p>
    <p>Or, you can <a href="https://www.gov.uk/guidance/apply-for-an-electronic-travel-authorisation-eta">read the ETA guidance</a> about who can apply for an ETA and who does not need one.</p>
    <h2 class="govuk-heading-m"> If you are a resident of Ireland </h2>
    <p>Some people who live in Ireland do not need an ETA to come to the UK. There is specific <a href="https://www.gov.uk/guidance/electronic-travel-authorisation-eta-residents-of-ireland">ETA guidance for residents of Ireland</a> available.</p>
    {{#input-submit}}continue-and-ask-question{{/input-submit}}
  {{/page-content}}
{{/partials-page}}
