<title>{{#t}}Ask a question about Electronic Travel Authorisation (ETA){{/t}} – GOV.UK</title>
{{<partials-page}}
  {{$page-content}}
    <p>Use this form to ask a question about Electronic Travel Authorisation (ETA). We will reply in 3 working days (Monday-Friday).</p>
    <p>We do not give help on the phone.</p>

	<h2>Before you start</h2>
	<p>Check the <a href="https://www.gov.uk/guidance/electronic-travel-authorisation-eta">ETA guidance on GOV.UK</a> for an answer to your question.</p>
    <p>If you are using the UK ETA app, <a  href="https://apply-for-an-eta.homeoffice.gov.uk/how-to-apply">try applying online instead.</a></p>
	<p>If you are waiting for a decision on an ETA application, do not contact us until 3 working days (Monday-Friday) after you applied.</p>

    <h2>What you'll need</h2>
    <p>You will need:</p>
    <ul>
        <li>an email address where we can send our reply</li>
        <li>your ETA reference number, if you have already applied</li>
    </ul>
    <p>If you do not do anything for 20 minutes, your answers will not be saved. Your question is only saved when you submit the form.</p>
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}