{{<partials-page}}
  {{$page-content}}
  {{> partials-gatag-your-question-submitted}}
  <strong>{{#t}}fields.your-question.label{{/t}}</strong>
  {{#renderField}}your-question{{/renderField}}

  <strong>{{#t}}fields.email.label{{/t}}</strong>
  {{#input-text}}email{{/input-text}}

  <strong>{{#t}}fields.name.label{{/t}}</strong>
  {{#input-text}}name{{/input-text}}

  <strong>{{#t}}fields.eta-reference-number.label{{/t}}</strong>
  {{#input-text}}eta-reference-number{{/input-text}}

  {{#input-submit}}continue{{/input-submit}}

  {{/page-content}}
{{/partials-page}}
